.App {
  display: flex;
  flex-flow: column;
  overflow: hidden;
  height: 100%;
}

button {
  border: none;
  cursor: pointer;
}

input {
  &:focus {
    outline: 1px solid #c9dcb3;
  }

  &::placeholder {
    color: #c9dcb3;
    opacity: 0.8;
  }
}

input,
button {
  border: 0;
}
